// Your custom styles

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: rgb(88, 45, 75); }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgb(88, 45, 75); }
  .sleeping-beauty {
    font-size: 5rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel {
    .view {
      background-image: url('../img/tall.jpg') !important;
      background-size: cover !important;
    }
    .display-4 {
      font-size: 2rem !important;
    }
  }
  footer {
    background-size: cover !important;
    height: 330px !important;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

html, body, header, .carousel {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(232, 241, 240);
}

.sleeping-beauty {
  font-family: 'Glass Antiqua', cursive;
  font-size: 7rem;
}

.carousel .view {
  background-image: url('../img/head.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(69, 112, 107);
}

.bottom-main-padding {
  height: 40vh;
}

#map {
  height: 300px;
}

.fa-map-marker-alt {
  font-size: 5rem;
  color: rgb(88, 45, 75);
}

.card {
  min-height: 240px;
  .card-text.price {
    font-size: 2rem !important;
    color: rgb(69, 112, 107) !important;
  }
}

footer {
  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}